<!DOCTYPE html>
<html>
<head>
    <title>Password Reset Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: url('images/bgimage.png') no-repeat center center fixed;
            background-size: cover;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            background-color: transparent;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
            padding: 50px 150px;
        }

        h2 {
            text-align: center;
        }

        form {
            text-align: center;
            margin-top: 20px;
        }

        label, input {
            display: block;
            margin: 10px 0;
        }

        input[type="password"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            background: linear-gradient(to right, violet, rgb(94, 31, 106));
            color: #fff;
            cursor: pointer;
            border-radius: 5px;
            padding: 10px 20px;
            border: none;
            margin-top: 10px;
        }

        .alter {
            color: red;
            text-align: start;
            margin-top: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Password Reset</h2>
        <form method="POST" action="/resetpassword">
            <!-- New Password -->
            <label for="new-password">New Password:</label>
            <input type="password" id="new-password" name="newPassword" required>
            <% if(locals.perror){ %>
                <div class="alter text-danger"><%= perror %></div>
            <% } %>
            
            <!-- Confirm Password -->
            <label for="confirm-password">Confirm Password:</label>
            <input type="password" id="confirm-password" name="confirmPassword" required>
            <% if(locals.cperror){ %>
                <div class="alter text-danger"><%= cperror %></div>
            <% } %>

            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>
</html>
